@{
    Layout = null;
}

<div>
    <div class="row">
        <div class="col-md-9"><h2>{{occasion.Title}}</h2></div>
        <div class="col-md-3">{{occasion.OccasionDateTime | date : 'EEE d MMM yyyy'}} </div>
    </div>
    <div class="col-md-12">
        <p >{{occasion.Description}}</p>
        <div class="btn btn-default" data-ng-click="Details(item)">Details</div>
                        
        <collapsible title="Out On the Event">
            <br/><br/>
            <div class="row">
                <div data-ng-repeat="rsvp in item.RSVPs" class="col-md-2 hidden-sm">
                    <user-profile user="rsvp.UserAccount"></user-profile>
                </div>
            </div>
        </collapsible>
    </div>
</div>