<div class="container" data-ng-show="msg">
    <div class="panel panel-primary"  >
        <div class="panel-heading" > Info </div>
        <div class="panel-body">
            <img src="/Content/Images/load.gif" alt="please wait" data-ng-show="wait"/> {{msg}}
        </div>
    </div>
</div>

<div data-ng-repeat="event in events">
    <eventdirective occasion="event"></eventdirective>
</div>