

<div class="row" data-ng-show="msg">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-info"  >
            <div class="panel-heading" > Info </div>
            <div class="panel-body">
                <img src="/Content/Images/load.gif" alt="please wait" data-ng-show="wait"/> {{msg}}
            </div>
        </div>
    </div>
</div>

events