@{
    Layout = null;
}

<div class="bordered">
    <div>
        <img data-ng-src="{{user.ProfilePic}}" width="100%" title="{{user.Bio}}"/>
    </div>
    <div class="text-center text-primary alert-success">
        {{user.Name}}
    </div>
</div>