@{
    Layout = null;
}
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/angular-sanitize.js"></script>
<script src="~/Js/App/AppMain.js"></script>
<script src="~/Js/Controllers/eventscontroller.js"></script>
<script src="~/Js/Directive/eventdirective.js"></script>
<script src="~/Js/Directive/userprofiledirective.js"></script>

<div data-ng-app="appmain">
    <div data-ng-view=""></div>
</div>