@model string
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="text-center">
                <img src="assets/img/find_user.png" class="user-image img-responsive"/>
            </li>
            <li>
                @Html.BtnIconLink("Events", "Index", "Home", null, "fa-calendar-o fa-3x", "Upcomming Events", Model == "Events" ? "active-menu": "")
            </li>
            <li>
                @Html.BtnIconLink("My Events", "Index", "Home", null, "fa-calendar fa-3x", "Upcomming Events", Model == "MyEvents" ? "active-menu": "")
            </li>
            <li>
                <a  href="tab-panel.html"><i class="fa fa-qrcode fa-3x"></i> Photos</a>
            </li>
            <li  >
                <a   href="chart.html"><i class="fa fa-bar-chart-o fa-3x"></i> Morris Charts</a>
            </li>	
            <li  >
                <a  href="table.html"><i class="fa fa-table fa-3x"></i> Table Examples</a>
            </li>
            <li  >
                <a  href="form.html"><i class="fa fa-edit fa-3x"></i> Manage Account </a>
            </li>				
			
            <li  >
                <a  href="blank.html"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
            </li>	
        </ul>
               
    </div>
            
</nav>