@if (Request.IsAuthenticated) {
    <span class="bannertext">
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a class="btn btn-default" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </span>
} else {
   <li> @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: null) </li>
   <li> @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: null) </li>
    
}
